
.nav-list a {
    color: white !important;
}

.aux-nav a {
    color: white !important;
}

.module a, footer a {
    color: #ffeb82 !important;
}

.module {
    border: 1px solid #444444;
}

$link-color: $grey-lt-000;

a {
    color: $yellow-000 !important;

}
.pronouns {
    background-color: #777777 !important;
}

.btn::selection {
    background-color: #ffeb82 !important;
}

button {
    color: #ffeb82 !important;
}

button:hover {
    color: #e7af06 !important;
}

@import "./color_schemes/dark";