
.nav-list a {
    color: white !important;
}

.aux-nav a {
    color: white !important;
}

.module a, footer a {
    color: #ffeb82 !important;
}

.module {
    border: 1px solid white;
}

$link-color: $grey-lt-000;

a {
    color: $yellow-000 !important;

}

@import "./color_schemes/dark";